# streamlit
flask
pandas
numpy
scikit-learn
llama-index
llama-index-llms-nvidia
llama-index-embeddings-nvidia
llama-index-readers-web
llama-index-vector-stores-chroma
bs4
python-dotenv
requests
chromadb
tavily-python
selenium
webdriver-manager
psycopg2
sqlalchemy