<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Shopping Assistant</h1>
            <form action="/" method="POST" class="my-1">
                <input type="text" name="query" id="query" placeholder="Hey there! What do you want to buy today?">
                <input type="submit" value="Search">
            </form>
            <p class="mb-1">{{response}}</p>
            <br>
            {% for table, title in tables_with_titles %}
                {{ title }}
                {{ table|safe }}
            {% endfor %}
            <br>
            {% for response in str_responses %}
                {{ response }}
            {% endfor %}
        </div>
    </body>
</html>